
img(src='http://lorempixel.com/g/400/200/')
h1 carousel.jade

ul(rn-carousel='' rn-carousel-controls='' rn-carousel-controls-allow-loop='' class='image' style='width:400px;height:200px')
  li
    img(src='http://lorempixel.com/g/400/200/')
  li
    img(src='http://lorempixel.com/g/400/200/')
  li
    img(src='http://lorempixel.com/g/400/200/')