
#app-wrapper
  #menu-bar
    button(ui-sref='app.chat' active-spy='' ng-click='unreadMsgFlag=false' ng-class='{ blinking: unreadMsgFlag }' ) Chat
    button(ui-sref='app.carousel' active-spy='') Photos
    button(ui-sref='app.settings' active-spy='') Settings

  #content-view
    ui-view